nav{
    background-color: black;
}

nav .brand-logo{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

nav ul li a{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

footer{
    background-color: #4183D7 !important;
}

.space{
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.parallax-container{
    height: 90vh;
}

.parallax-container .parallax img{
    filter: brightness(40%);
}

.parallax-container section{
    width: 100%;
}

.parallax-container .btn-large{
    background-color: #4183D7 !important;
}

.side-nav{
    width: 100vw !important;
}

nav .side-nav li a{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

hr{
    max-width: 50px;
    margin-top: -20px;
    margin-bottom: 30px;
    border: 3px solid black;
}

#charts{
    margin-bottom: 100px;
}

/*h2{
    margin-top: 0px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}*/

h2{
    margin-top: 0px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.hand, .hand2, .hand3{
    height: 60vh;
    float: right;
    transform: rotate(40deg);
    position: absolute;
    right: 200px;
    bottom: -400px;
    display: none;
}

.hands, .hands2, .hands3{
    height: 60vh;
    float: right;
    position: absolute;
    left: -130px;
    bottom: -100px;
    display: none;
}

.hands, .hands2, .hands3 {
    -webkit-transition: all 1500ms cubic-bezier(0.250, 0.085, 0.000, 0.990);
    -moz-transition: all 1500ms cubic-bezier(0.250, 0.085, 0.000, 0.990);
    -o-transition: all 1500ms cubic-bezier(0.250, 0.085, 0.000, 0.990);
    transition: all 1500ms cubic-bezier(0.250, 0.185, 0.000, 0.990);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.085, 0.000, 0.990);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.085, 0.000, 0.990);
    -o-transition-timing-function: cubic-bezier(0.250, 0.085, 0.000, 0.990);
    transition-timing-function: cubic-bezier(0.250, 0.185, 0.000, 0.990);
    /* custom */
}

#menu .active{
    box-shadow: inset 0 -8px 0 0 white;
}

.carousel{
    margin-top: 0px;
    height: 550px;
}

.carousel-item img{
    height: 300px;
    box-shadow: 0px 0px 15px 2px black;
    margin-top: -150px;
}

.carousel a{
    margin-top: 15px;
    font-weight: bold;
}

.pp-tooltip{
    color: black !important;
    font-weight: bold;
    font-size: 15px;
}

.material-icons{
    font-size: 120px;
    margin-bottom: 50px;
}

.phone, .email{
    margin-bottom: 20px;
}

.contact{
    display: none;
}

.contactInfo{
    font-size: 30px;
    margin-top: 60px;
}

.aboutText{
    margin-top: 50px;
    font-size: 28px;
    line-height: 35px;
}

.profile{
	margin-top: 30px;
	margin-bottom: 10px;
}

.resume{
	border: 2px solid black;
}

@media only screen and (max-width: 1100px) {
    .aboutText{
        margin-top: 50px;
        font-size: 24px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 900px) {
    .aboutText{
        margin-top: 50px;
        font-size: 22px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 700px) {
    .aboutText{
        margin-top: 50px;
        font-size: 20px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .aboutText{
        margin-top: 30px;
        line-height: 25px;
        font-size: 16px;
    }

    .carousel{
        height: 500px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .carousel-item img{
        height: 230px;
        width: 150px !important;
        box-shadow: 0px 0px 15px 2px black;
        margin-top: -130px;
    }

    h2{
        margin-top: 0px;
    }

    .material-icons{
        font-size: 100px;
        margin-bottom: 30px;
    }
    .contactInfo{
        font-size: 24px;
        margin-top: 50px;
    }
}
