body{
	font-family: helvetica;
}

h1{
	font-size: 70px;
	color: black;
	font-family: 'Handlee', cursive;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	font-weight: bold;
}

.navbar-brand{
	font-size: 20px;
}

.navbar-nav{
	float: right;
}

.navbar-nav li a{
	font-size: 20px;
}

#section1, #section2, #section3, #section4{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 50px;
	padding-bottom: 50px;
}

#section1, #section3{
	background-color: #ECECEC;
}

section{
	margin: auto;
	margin-bottom: 100px;
}

section p{
	text-align: left;
	font-size: 20px;
}

section h2{
	font-size: 60px;
	font-family: 'Handlee', cursive;
}

footer{
	background-color: black;
	color: white;
	margin: auto;
	text-align: left;
}

footer ul li a:hover{
	cursor: pointer;
	font-weight: bold;
}

footer .foot{
	width: 100%;
	margin: auto;
	text-align: center;
}

footer .hours{
	padding-top: 20px;
	font-size: 20px;
	padding-bottom: 20px;
	display: inline-block;
	width: 30%;
}

footer ul li{
	text-align: center;
}

footer .hours h3{
	font-weight: bold;
	font-size: 25px;
}

footer .hours ul li a{
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 800px){
	footer .hours{
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.navbar-nav{
		float: none;
	}
}

@media screen and (max-width: 500px){
	header h1{
		font-size: 60px;
	}

	footer .hours{
		display: block;
	}

	section p{
		font-size: 20px;
	}
}