body{
	font-family: helvetica;
}

h1{
	font-size: 100px;
	color: white;
	font-family: 'Comfortaa';
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

#Anthony{
	background-color: black;
}

.navbar{
	background-color: black;
}

.navbar-brand{
	font-size: 20px;
}

.navbar-nav{
	float: right;
}

.navbar-nav li a{
	font-size: 20px;
}

#section1, #section2, #section3, #section4{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 50px;
	padding-bottom: 50px;
}

#section1, #section3{
	background-color: #ECECEC;
}

section{
	margin: auto;
}

section p{
	text-align: left;
	font-size: 20px;
}

section h2{
	font-size: 80px;
	font-family: 'Raleway';
	font-weight: bold;
	margin-bottom: 40px;
	text-align: center;
	padding-bottom: 20px;
}

section hr{
	width: 50px;
	height: 10px;
}

footer{
	background-color: black;
	color: white;
	margin: auto;
	text-align: left;
}

footer ul li a:hover{
	cursor: pointer;
}

footer .foot{
	width: 100%;
	margin: auto;
	text-align: center;
}

footer .hours{
	padding-top: 20px;
	font-size: 20px;
	padding-bottom: 20px;
	display: inline-block;
	width: 30%;
}

footer ul li{
	text-align: center;
}

footer .hours h3{
	font-weight: bold;
	font-size: 25px;
}

footer .hours ul li a{
	color: white;
	text-decoration: none;
}

section h3{
	font-weight: bold;
}

section h4{
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
}

.col-md-4{
	margin: auto;
	text-align: center;
}

.col-md-4 p{
	margin: auto;
	text-align: center;
}

.col-md-6{
	margin: auto;
	text-align: center;
}

.col-md-6 p{
	margin: auto;
	text-align: center;
}

section .skills{
	font-size: 20px;
	text-align: left;
	margin-top: 40px;
	list-style-type: disc;
}

section .skills1,.skills2{
	margin-left: 50px;
	margin-right: 20px;
}

section .projects{
	font-size: 20px;
	text-align: center;
	margin-top: 40px;
}

section a{
	text-decoration: none;
	color: black;
}

section a:hover{
	color: #52B3D9;
	font-weight: bold;
	text-decoration: none;
}

i{
	margin-top: 30px;
}

.navbar-toggle{
	background-color: transparent;
	border: 1px solid white;
}

.unlimited{
	font-size: 24px;
	text-align: center;
	margin-bottom: 50px;
}

@media screen and (max-width: 800px){
	footer .hours{
		display: block;
		width: 100%;
	}

	section .skills{
		font-size: 20px;
		list-style-type: disc;
		text-align: left;
		margin-top: 40px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media screen and (max-width: 768px){
	.navbar-nav{
		float: none;
	}
}

@media screen and (max-width: 500px){
	header h1{
		font-size: 40px;
	}

	section p{
		font-size: 18px;
	}

	section h1{
		font-size: 70px;
	}

	section h2{
		text-align: center;
		font-size: 50px;
	}

	section ul li{
		font-size: 18px;
	}
}