body{
	font-family: helvetica;
	background-color: #89C4F4;
}

nav{
	font-size: 20px;
}

.navbar-brand{
	font-size: 20px;
}

.center{
	text-align: center;
}

.jumbotron{
	background-color: #D2D7D3;
}

h1{
	margin-top: 50px;
}

#searchArea label{
	font-size: 30px;
	text-transform: uppercase;
}

#searchArea p{
	font-size: 20px;
}

#searchArea input{
	font-size: 20px;
}

#searchArea{
	margin-top: 100px;
	margin-bottom: 50px;
}

#update h2{
	font-weight: bold;
	margin-bottom: 20px;
}

#update p{
	font-size: 20px;
}

#update ul li{
	padding: 30px;
	background-color: white;
	height: 80px;
	overflow: hidden;
	border-bottom: 1px dotted gray;

	animation: myanim .7s;

	transition: height 1s ease-in-out;
}

#update ul li:hover{
	background-color: #FDE3A7;
	height: 400px;
}

#update img{
	float: left;
	margin-right: 20px;
	-webkit-border-radius: 20px;
}

@keyframes myanim{
	0%{
		opacity: 0.3;
	}
	100%{
		opacity: 1;
	}
}